{% extends "base.html" %}

{% block content %}

    <div class="container">
    <h4>Book Form</h4>
    <div class="row">
        <form method="post" class="col s12" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="input-field col s12">
                    {{ form.title() }}
                    {{ form.title.label }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form.author() }}
                    {{ form.author.label }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form.publication_date(class="datepicker") }}
                    {{ form.publication_date.label }}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    {{ form.description(class="materialize-textarea") }}
                    {{ form.description.label }}
                </div>
            </div>

            <div class="row">
                <div class="file-field input-field col s8">
                    <div class="btn">
                        <span>File</span>
                        {{ form.cover_img(value="{{ book.cover_img }}", id="cover_file") }}
                    </div>
                    <div class="file-path-wrapper">
                        <input id=cover_url class="file-path validate" type="text" value="{{ book.cover_img }}">
                    </div>  
                </div>
                <div class="col s4">
                    
                    {% if book.cover_img != "" %}   
                        <div class="delete-img">
                            <!--<a href="{{ url_for('books.delete_cover', book_id=book['id']) }}">-->
                                <i class="material-icons del-cover" id="{{ book['id'] }}"">delete</i>
                            <!--</a>-->
                        </div>    
                    {% endif %}     
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                </div>
                
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {
        format: 'mm/dd/yyyy'});
  });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elements = document.getElementsByClassName("del-cover");

        for (var i=0; i < elements.length; i++) {
            var book_id = elements[i].id;
            elements[i].addEventListener('click', function(){
                
                var xhttp = new XMLHttpRequest;
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("cover_file").value = '';
                        document.getElementById("cover_url").value = '';
                    }
                }
                xhttp.open("POST", "{{ url_for('books.delete_cover') }}", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("book_id="+book_id);
            }, false);
        };
    });
</script>

  {% endblock %}